{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "eslint-plugin-unicorn",
    "eslint-plugin-import"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:unicorn/recommended"
  ],
  "rules": {
    "semi": [1, "always"],
    "comma-dangle": [1, "always-multiline"],
    "indent": [1, 2],
    "quotes": [1, "single"],
    "eol-last": [1, "always"],
    "no-trailing-spaces": 1,
    "unicorn/prefer-math-trunc": 0,
    "object-curly-spacing": 0,
    "unicorn/prefer-module": 0,
    "unicorn/filename-case": 0,
    "unicorn/no-useless-undefined": 0,
    "unicorn/no-null": 0,
    "unicorn/prevent-abbreviations": 0
  }
}