{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "eslint-plugin-unicorn",
    "eslint-plugin-import"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:unicorn/recommended"
  ],
  "rules": {
    "object-curly-spacing": 0,
    "unicorn/prefer-module": 0,
    "unicorn/filename-case": 0,
    "unicorn/no-useless-undefined": 0,
    "unicorn/no-null": 0
  }
}